:root {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 89px;
    font-weight: solid;
    line-height: 79px;
    width: 50%;
    Color: #FFB300;

    

    p {
        font-size: 21px;
        font-weight: semibold: ;
        Line-height: 1.61px
    }

    .class ing
    /*Tamanho: 21px
Peso: Semibold
Line-height: 1.61
Cor: Preto

/*ingre
Tamanho: 34px
Color: #FFB300
Font-Weight: Bold/*

